# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Ruby
*.rb text eol=lf
Gemfile text eol=lf
Rakefile text eol=lf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.gz binary
*.zip binary
*.7z binary
*.tar binary

